<ion-content>
  <div class="main">
    <button>Back</button>
    <img class="logo-header" src="../../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
    <div class="item-section">
      <div class="center">
        <h3 class="white-text m-0 sm-text">Shipment:</h3>
        <h1 class="white-text m-0 lg-text bold">12345</h1>
      </div>
      <div class="container">
        <div class="scanned-info purple center sm-round">
          <p class="title-text white-text md-text m-0 bold">Scanned At: 4:37pm</p>
        </div>
        <div class="section-title purple center sm-round">
          <p class="title-text-sm white-text md-text m-0 bold"><ion-icon name="images" class="white-text title-icon"></ion-icon>Shipment Images</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
