.main {
    min-height: 100%;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    background-color: #07263b;
}

.back-btn {
    background: none;
    outline: none;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.container {
    width: 90%;
    margin: auto;
}

.logo-header {
    height: 60px;
    width: 200px;
    margin-left: 60px;
}

.newItemBtn {
    position: relative;
    right: 3px;
    top: 10px;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: #ff4961;
    outline: none;
}

.float-left {
    position: relative;
    left: 10px;
    top: 10px;
}

.left {
    text-align: left;
}

.white-text {
    color: white;
}

.red {
    background-color: #ff4961;
}

.m-0 {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.sm-text {
    font-size: 20px;
}

.md-text {
    font-size: 20px;
}

.lg-text {
    font-size: 40px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.item-img {
    height: 200px;
    width: 250px;
    margin-top: 10px;
}

.img-section {
    height: auto;
    top: 2px;
}

.section-title {
    height: 35px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.section-content {
    min-height: 75px;
    height: auto;
    background-color: #0B3049;
    margin-top: 5px;
    padding-bottom: 5px;
  }

.scanned-info {
    min-height: 100px;
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.font-jost {
    font-family: 'Jost', sans-serif;
}

.font-merri {
    font-family: 'Merriweather Sans', sans-serif;
}

.title {
    position: relative;
    top: 5px;
}

.title-text {
    padding-top: 12px;
}

.title-text-sm {
    padding-top: 6px;
}

.title-icon {
    position: relative;
    top: 8px;
    margin-right: 10px;
    font-size: 20px;
}

.item-section {
    padding: 15px;
}

.sm-round {
    border-radius: 5px;
}

.purple {
    background-color: #445394;
}