<ion-content>
  <div class="main">
    <button class="back-btn" (click)="goBack()"><ion-icon name="arrow-back" class="white-text"></ion-icon></button>
    <img class="logo-header" src="../../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
    <div class="scanned-info purple sm-round">
      <div class="center">
        <div class="item-section">
          <h3 class="white-text m-0 sm-text">Shipment:</h3>
          <h1 id="shipmentId" class="white-text m-0 lg-text bold"></h1>
        </div>
        <div class="item-section">
          <p id="shipmentTime" class="white-text md-text m-0 bold font-merri"></p>
        </div>
      </div>
    </div>
    
    <div class="item-section">
      <div class="container">
        <div class="section-title purple center sm-round">
          <span><ion-icon name="images" class="white-text title-icon"></ion-icon><p class="title-text-sm white-text md-text m-0 bold inline title">Shipment Images</p></span>
        </div>
        <div class="section-content center">
          <ion-row>
            <ion-col size="10">
              <div id="img-section" class="img-section container inline">
              </div>
            </ion-col>
            <ion-col size="2">
              <button class="newItemBtn inline"><ion-icon name="add" class="md-text white-text bold" (click)="takePicture()"></ion-icon></button>
            </ion-col>
          </ion-row>         
        </div>
      </div>
    </div>
  </div>
</ion-content>
