<ion-content>
  <div class="main">
    <button class="back-btn" (click)="goBack()"><ion-icon name="arrow-back" class="white-text"></ion-icon></button>
    <img class="logo-header" src="../../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
    <div class="scanned-info purple sm-round">
      <div class="center">
        <div class="item-section">
          <h3 class="white-text m-0 sm-text">Shipment:</h3>
          <h1 id="shipmentId" class="white-text m-0 lg-text bold"></h1>
        </div>
        <div class="item-section">
          <p id="shipmentTime" class="white-text md-text m-0 bold"></p>
        </div>
      </div>
    </div>
    
    <div class="item-section">
      <div class="container">
        <div class="section-title purple center sm-round">
          <p class="title-text-sm white-text md-text m-0 bold"><ion-icon name="images" class="white-text title-icon"></ion-icon>Shipment Images</p>
        </div>
        <div class="section-content center">
          <div id="img-section" class="container">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
