<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<img class="logo-login" src="../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
			<div text-center>
			</div>
			<div>
				<div class="container">
					<div class="input-content">
						<ion-item>
							<ion-input class="" id="login_username" type="text" placeholder="Username" [(ngModel)]="username">
								<ion-icon class="login-icon" name="person-circle-outline"></ion-icon>
							</ion-input>
						</ion-item>
						<ion-item class="input">
							<ion-input type="password" placeholder="Password" [(ngModel)]="password"
								(keyup.enter)="AttemptLogin()">
								<ion-icon class="login-icon" name="key-outline"></ion-icon>
							</ion-input>
						</ion-item>
					</div>
					<div class="remember-login">
						<span>
							<ion-checkbox id="remember-pass-check" [(ngModel)]="isRememberChecked"
								(ionChange)="rememberLogin()"></ion-checkbox>
							<p style="font-weight: bold; display: inline; padding-left: 4px;">Remeber Login?</p>
						</span>
					</div>
					<div id="error-section" class="error-section hide">
						<p id="error-text" class="error-text"></p>
					</div>
					<div style="padding-top: 15px">
						<p id="register-btn" (click)="register()">Don't Have An Account? Register</p>
						<ion-button size="large" expand="block" (click)="AttemptLogin()"
							style="font-weight: bold;">
							<p>Login</p>
						</ion-button>
					</div>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>