<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<img class="logo-login" src="../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
			<div text-center>
			</div>
			<div>
				<div class="container">
					<div class="input-content">
						<ion-item id="ion-username" class="input">
							<ion-input id="login_username" type="text" placeholder="Username" [(ngModel)]="username">
								<ion-icon class="login-icon" name="person-circle-outline"></ion-icon>
							</ion-input>
						</ion-item>
						<ion-item id="ion-password" class="input">
							<ion-input type="password" placeholder="Password" [(ngModel)]="password"
								(keyup.enter)="login()">
								<ion-icon class="login-icon" name="key-outline"></ion-icon>
							</ion-input>
						</ion-item>
					</div>
					<div class="remember-login">
            <ion-row>
              <ion-col size="6">
                <p style="font-weight: bold; color: white; float: left">Remeber Login?</p>
              </ion-col>
              <ion-col size="6">
                <button id="toggleRememberBtn" class="remember-login-btn white-text" (click)="toggleRemember()"><ion-icon name="checkbox"></ion-icon></button>
              </ion-col>
            </ion-row>
					</div>
					<div id="error-section" class="error-section hide">
						<p id="error-text" class="error-text"></p>
					</div>
					<div style="padding-top: 15px">
						<p id="register-btn" (click)="register()">Don't Have An Account? Register</p>
						<ion-button size="large" expand="block" (click)="login()"
							style="font-weight: bold;">
							<p>Login</p>
						</ion-button>
					</div>
				</div>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>