<ion-content>
  <div class="content">
    <div class="header">
      <ion-back-button style="float: left;" defaultHref="/" class="white-text"></ion-back-button>
      <ion-title>
        <img class="logo-header inline" src="../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
      </ion-title>
    </div>
    <div class="container">
      <div class="truckloadIDSection alt-blue center shadow">
        <div class="truckInfo">
          <h1 class="md-text white-text m-0">Truck</h1>
          <p class="lg-text white-text m-0 bold">123445</p>
          <button class="newItemBtn"><ion-icon name="add" class="md-text white-text bold"></ion-icon></button>
        </div>
      </div>
      <div class="truckItemsSection">
        <h1 class="white-text bold m-0">All Truck Items</h1>
        <p class="white-text m-0">Number: 4</p>
        <div class="truckItem">
          <div class="container">
            <p class="m-0 itemName bold">123456</p>
            <p class="m-0 itemTime">loaded at 10:09 AM</p>
          </div>
        </div>
        <div class="truckItem">
          <div class="container">
            <p class="m-0 itemName bold">123456</p>
            <p class="m-0 itemTime">loaded at 10:12 AM</p>
          </div>
        </div>
        <div class="truckItem">
          <div class="container">
            <p class="m-0 itemName bold">123456</p>
            <p class="m-0 itemTime">loaded at 10:09 AM</p>
          </div>
        </div>
        <div class="truckItem">
          <div class="container">
            <p class="m-0 itemName bold">123456</p>
            <p class="m-0 itemTime">loaded at 10:12 AM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>