.logo-header {
    height: 60px;
    width: 200px;
}

.container {
    width: 90%;
    margin: auto;
}

.center {
    text-align: center;    
}

.section-title {
    height: 35px;
}

.section-title-icon {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 7px;
    padding-left: 15px;;
  }

.section-title-text {
    color: white;
    font-weight: bold;
    padding: 9px 40px;
}

.content {
    padding-top: 20px;
}

.section-main-content {
    padding-top: 9px;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.item-img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.m-0 {
    margin: 0;
}

.inline {
    display: inline;
}

.small-text {
    font-size: 15px;
}

.md-text {
    font-size: 20px;
}

.lg-text {
    font-size: 30px;
}

.mb-3 {
    padding-bottom: 10px;
}

.border {
    border: 5px solid black;
}

.sec-btn {
    background-color: #62ADD4;
    color: white;
    height: 40px;
    width: 40px;
    outline: none;
}

.round {
    border-radius: 50%;
}

.input-btn {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-icon {
    font-size: 30px;
}

.pr-3 {
    padding-right: 10px;
}

.section-content {
    min-height: 100px;
    width: 300px;
    padding-bottom: 10px;
    height: auto;
    background-color: #07263b;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
  }

.truckContent {
    margin-top: 20px;
}

.alt-blue {
    background-color: #62add4;
}

.menu {
    margin-top: 10px;
}

.round-btn {
    border-radius: 20px;
    width: 100%;
    height: 50px;
    outline: none;
}

.small-round-btn {
    background-color: #07263b;
    border-radius: 25px;
    margin-top: 15px;
    width: 135px;
    height: 50px;
    margin-left: 10px;
    outline: none;
}

.truckInfo {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-color: #0b3049;
}

.thick {
    border: 2px solid;
}

.red-text {
    color: #ff4961;
}

.deleteBtn {
    height: 30px;
    width: 30px;
    background: none;
    position: absolute;
    top: 100px;
    right: 40px;
    outline: none;
}

.dark {
    background-color: #07263b;
}

.dark-border {
    border: 5px solid #07263b;
}

.dark-text {
    color: #07263b;
}

.white-text {
    color: white;
}
  