<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button style="float: left;" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img class="logo-header" src="../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="container">
      <div class="center">
        <h1 class="bold dark-text">FTL Upload</h1>
      </div>
      <hr class="thick dark"/>
      <div id="truckSection" class="center hide">
        <h2>No Truck Started</h2>
        <button class="round-btn bold md-text dark white-text" (click)="createNewTruck()">Start Truck</button>
      </div>
      <div id="startedTruckSection">
        <div id="main-truck-area" class="truckInfo dark-border hide">
          <div id="truckInfo-main" class="container">
          </div>
        </div>
      </div>
      <div id="newTruckSection" class="hide">
        <ion-item style="width: 90%; margin: auto;">
          <ion-label position="stacked" class="bold">Truckload ID</ion-label>
          <ion-input class="bold" placeholder="Enter Truckload ID" [(ngModel)]="truckID"></ion-input>
        </ion-item>
        <button class="small-round-btn white-text bold small-text" (click)="cancel()">Cancel</button>
        <button class="small-round-btn white-text bold small-text" (click)="startNewTruck()">Start Truck</button>
      </div>
    </div>
  </div>
</ion-content>