.logo-header {
    height: 60px;
    width: 200px;
}

.container {
    width: 90%;
    margin: auto;
}

.content-header {
    text-align: center;    
}

.section-title {
    height: 35px;
}

.section-title-icon {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 7px;
    padding-left: 15px;;
  }

.section-title-text {
    color: white;
    font-weight: bold;
    padding: 9px 40px;
}

.section-main-content {
    padding-top: 9px;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.sec-btn {
    background-color: #62ADD4;
    color: white;
    height: 40px;
    width: 40px;
}

.round {
    border-radius: 50%;
}

.input-btn {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-icon {
    font-size: 30px;
}

.section-content {
    min-height: 130px;
    height: auto;
    background-color: #0B3049;
    margin-top: 2px;
  }

.alt-blue {
    background-color: #62add4;
}
  