.logo-header {
  height: 60px;
  width: 200px;
  margin-left: 20px;
  padding-right: 20px;
}

.container {
  width: 90%;
  margin: auto;
}

.center {
  text-align: center;
}

.logout-btn {
  position: relative;
  float: left;
  top: 8px;
  left: 12px;
  min-height: 40px;
  height: auto;
  width: auto;
  font-size: 14px;
  border-radius: 5px;
  background-color: #64aad1;
  color: white;
  outline: none;
}

.tile-icon {
  font-size: 50px;
}

.bold {
  font-weight: bold;
}

.tile-text {
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.content {
  min-height: 100%;
  height: auto;
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #07263b;
}

.dashboardTile {
  color: white;
  border-radius: 8px;
  border: 6px solid #5f6fb6;
  background-color: #445394;
  text-align: center;
  height: 150px;
  width: 150px;
  margin: 20px auto;
  z-index: -1;
  box-shadow: 0px -1px 3px #252f52;
  outline: none;
}