<ion-header>
  <ion-toolbar color="dark">
      <ion-button class="bold"  size="small" color="secondary" (click)="logout()">LOGOUT</ion-button>
    <ion-title>
      <img class="logo-header" src="../../assets/imgs/2x7-FreightSnap-Logo-Stickers.jpg" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container center">
    <button class="dashboardTile" (click)="ftlUpload()">
      <ion-icon name="cloud-upload-outline" class="tile-icon"></ion-icon>
      <p class="tile-text" >FTL Upload</p>
    </button>
  </div>
</ion-content>