.container {
    width: 95%;
    margin: auto;
}

.modal-btns {
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.item-img {
    margin-left: 15px;
}

.new-item-img {
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;
}

.icon-color {
    color: white;
}